body {
    background-color: #666666;
    color: white;
    font-family: Verdana;
    text-align: center;
    background-color: darkgrey;
    background-image: url(img/diag_stripe_grey1.png);
    text-align: center;
    background-attachment: fixed !important;
}

.banner {
    text-align: center;
    font-family: "MS PGothic";
}

.navbar {
width: 80%;
margin: auto;
border: 1px black;
padding: 5px;
background-color: #242424;
border-style: solid;
}

.body {
width: 80%;
color: black;
margin: auto;
width: 50%;
border: 3px double darkgray;
padding: 20px;
background-color: #eee;
}
